SERVER_PORT=8085
MYSQL_PORT=3306

DB_NAME=sparkle_accounting
DB_USERNAME=sparkle
DB_PASSWORD=sparkle123
MYSQL_ROOT_PASSWORD=root123

ADDRESS_API_TOKEN=change-me
ADDRESS_API_EMAIL=change-me@example.com
ADDRESS_API_URL=https://www.universal-tutorial.com/api
